  <div class="limiter">
      <a><img title="Especialista em software para gestão pública" class="img.img-responsive" src="img/logo.png">
    <div class="container-login100" style="background-color: #fff;">
      

				<div class="login100-pic js-tilt" data-tilt>
					<img src="../../img/b30.png" alt="IMG">
        </div>
        

				<form class="login100-form validate-form">  
					<span class="login100-form-title">
              <img src="img/icon_02.png">
					 Contrato Web
					</span>

					<div class="wrap-input100">
						<input class="input100" ng-class="{'is-invalid': vm.error.login}" id="loginInput"  placeholder="Login" ng-model="login">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-user" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100">
						<input class="input100" type="password" ng-class="{'is-invalid': vm.error.login}" id="senhaInput" placeholder="Senha" ng-model="senha">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>
					
					<div class="container-login100-form-btn">
						<button class="login100-form-btn" ng-click="vm.autenticar()" href="">Login</button>
					</div>					
					
				</form>
				
			</div>
		</div>
	</div>